<div class="h-screen grid place-items-center">
	<!-- <h1>Express App Works</h1> -->
	<div class="">
		<img class="object-cover" src="https://www.dtraveller.com/promotions/imagesDD/HOME_new_Desk_Dolphin-Cove_-ING.jpg?v=1" 
				alt="home image">
	</div>
	<!-- <div class="pull-left">
		<a target="_blank" href="https://www.facebook.com/Dolphin-Cove-Jamaica-145205405854738/?fref=ts">
			<div>
				<img src="https://www.dolphincoveja.com/Content/src/facebook-sprite.png" alt="">
			</div>
		</a>
		<a target="_blank" href="https://twitter.com/Dolphincoveltd">
			<div class="spriteSocial twitter"></div>
		</a>
		<a target="_blank" href="https://www.instagram.com/Dolphincoveja/">
			<div class="spriteSocial instagram"></div>
		</a>
		<a target="_blank" href="https://www.youtube.com/user/dolphindiscovery">
			<div class="spriteSocial youtube"></div>
		</a>
	</div> -->
</div>
