<div class="h-screen grid place-items-center">
	<!-- <h1>Express App Works</h1> -->
	<div>
		<img src="https://www.dtraveller.com/promotions/imagesDD/HOME_new_Desk_Dolphin-Cove_-ING.jpg?v=1" alt="home img">
	</div>
</div>
